[init]
    defaultBranch = main

[alias]
    diffy = diff --staged

[core]
    pager = delta
    editor = nvim
    excludesfile = ~/.gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    # side-by-side = true

[push]
    autoSetupRemote = true
    followTags = true     # automatically push tags when pushing branches

[merge]
    conflictstyle = zdiff3

[include]
    path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
